@import "tailwindcss";

@theme inline {
  --color-bg-100: var(--bg-100);
  --color-bg-200: var(--bg-200);
  --color-bg-300: var(--bg-300);
  --color-bg-400: var(--bg-400);
  --color-bg-500: var(--bg-500);

  --color-fg-100: var(--fg-100);
  --color-fg-200: var(--fg-200);
  --color-fg-300: var(--fg-300);
  --color-fg-400: var(--fg-400);
  --color-fg-500: var(--fg-500);

  --color-accent: theme("colors.violet.600");
  --color-primary: theme("colors.purple.600");

  --color-accent-50: theme("colors.violet.50");
  --color-accent-100: theme("colors.violet.100");
  --color-accent-200: theme("colors.violet.200");
  --color-accent-300: theme("colors.violet.300");
  --color-accent-400: theme("colors.violet.400");
  --color-accent-500: theme("colors.violet.500");
  --color-accent-600: theme("colors.violet.600");
  --color-accent-700: theme("colors.violet.700");
  --color-accent-800: theme("colors.violet.800");
  --color-accent-900: theme("colors.violet.900");
  --color-accent-950: theme("colors.violet.950");

  --color-primary-50: theme("colors.purple.50");
  --color-primary-100: theme("colors.purple.100");
  --color-primary-200: theme("colors.purple.200");
  --color-primary-300: theme("colors.purple.300");
  --color-primary-400: theme("colors.purple.400");
  --color-primary-500: theme("colors.purple.500");
  --color-primary-600: theme("colors.purple.600");
  --color-primary-700: theme("colors.purple.700");
  --color-primary-800: theme("colors.purple.800");
  --color-primary-900: theme("colors.purple.900");
  --color-primary-950: theme("colors.purple.950");

  --color-ring: var(--color-primary-500);

  --color-destructive: var(--destructive);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --container-width-sm: 30rem;
  --container-width-md: 40rem;
  --container-width-lg: 50rem;
  --container-width-xl: 60rem;
}

:root {
  --radius: 0.5rem;

  --destructive: oklch(0.577 0.22 27.325);

  --bg-100: oklch(0.975 0 0);
  --bg-200: oklch(0.95 0 0);
  --bg-300: oklch(0.925 0 0);
  --bg-400: oklch(0.9 0 0);
  --bg-500: oklch(0.875 0 0);

  --fg-100: oklch(0.15 0 0);
  --fg-200: oklch(0.2 0 0);
  --fg-300: oklch(0.25 0 0);
  --fg-400: oklch(0.3 0 0);
  --fg-500: oklch(0.35 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --accent: theme("colors.violet.400");
  --primary: theme("colors.purple.400");

  --bg-100: oklch(0.15 0 0);
  --bg-200: oklch(0.2 0 0);
  --bg-300: oklch(0.25 0 0);
  --bg-400: oklch(0.3 0 0);
  --bg-500: oklch(0.35 0 0);

  --fg-100: oklch(0.95 0 0);
  --fg-200: oklch(0.9 0 0);
  --fg-300: oklch(0.85 0 0);
  --fg-400: oklch(0.8 0 0);
  --fg-500: oklch(0.75 0 0);

  --destructive: oklch(0.577 0.22 27.325);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@utility gradient-text-fg {
  @apply text-transparent bg-clip-text;
  @apply bg-linear-0;
  @apply from-fg-100 via-fg-300 to-fg-500;
}

@utility gradient-text-accent {
  @apply text-transparent bg-clip-text;
  @apply bg-linear-0;
  @apply from-accent-800 to-accent-400;
}

@keyframes rotate-angle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@utility gradient-border {
  @apply relative z-10 overflow-visible;
  background: inherit;

  @property --angle {
    initial-value: 0deg;
    syntax: "<angle>";
    inherits: false;
  }

  &::before {
    content: "";

    @apply absolute inset-1/2 -z-10;
    @apply pointer-events-none rounded-[inherit];
    @apply -translate-x-1/2 -translate-y-1/2;

    animation: rotate-angle 3s linear infinite;

    width: calc(100% + 6px);
    height: calc(100% + 6px);

    background-image: conic-gradient(
      from var(--angle),
      var(--color-accent),
      var(--color-primary-700),
      var(--color-accent-400),
      var(--color-accent-700),
      var(--color-primary-500),
      var(--color-accent)
    );
  }
}

@utility container-* {
  margin-inline: auto;
  width: calc(100vw - 4rem);
  max-width: --value(--container-width- *, integer);
}

@utility input {
  @apply h-9 w-full px-3 py-1 text-base md:text-sm font-light;
  @apply bg-transparent shadow-xs transition-[color,box-shadow,border-color];
  @apply rounded-sm border border-bg-300;
  @apply outline-none placeholder:text-fg-500;
  @apply disabled:opacity-50 disabled:pointer-events-none disabled:cursor-not-allowed;
  @apply file:text-fg-100 file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-light;
  @apply focus-visible:ring-[3px] focus-visible:border-accent/75 focus-visible:ring-accent/50;
  @apply aria-invalid:ring-destructive/50 aria-invalid:border-destructive/75;
}
