@import "../../app/globals.css";

@layer components {
  .loader-wrapper {
    @apply min-h-[calc(100vh-3rem)] grid place-items-center;
  }

  .loader {
    @apply text-white rounded-full;
    @apply grid place-items-center;
    @apply w-12 h-12;
    transform: rotateZ(45deg);
    perspective: 500px;
  }

  .loader > span,
  .loader > span::before {
    @apply h-4 w-4 rounded-full origin-center brightness-125;
    @apply bg-gradient-to-r from-[#ff0000] to-[#300000];
    animation: loader-orb 3s ease-in-out infinite;
    background: radial-gradient(
      50% 50%,
      var(--tw-gradient-to),
      var(--tw-gradient-from)
    );
  }

  .loader > span::before {
    @apply block relative;
    z-index: -1;
    content: "";
    filter: blur(2px) opacity(0.7);
  }

  .loader::before,
  .loader::after {
    @apply block top-0 left-0 absolute;
    @apply rounded-full text-sky-400;
    content: "";
    filter: blur(1px);
    width: inherit;
    height: inherit;
    transform: rotateY(71deg);
    animation: 1s loader-spin linear infinite, 30s loader-rotate linear infinite;
  }

  .loader::after {
    transform: rotateX(71deg);
    animation-delay: 0.5s;
  }

  @keyframes loader-orb {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.325);
    }
  }

  @keyframes loader-spin {
    0%,
    100% {
      box-shadow: 0.2rem 0 0 0 currentcolor;
    }

    12% {
      box-shadow: 0.2rem 0.2rem 0 0 currentcolor;
    }

    25% {
      box-shadow: 0 0.2rem 0 0 currentcolor;
    }

    37% {
      box-shadow: -0.2rem 0.2rem 0 0 currentcolor;
    }

    50% {
      box-shadow: -0.2rem 0 0 0 currentcolor;
    }

    62% {
      box-shadow: -0.2rem -0.2rem 0 0 currentcolor;
    }

    75% {
      box-shadow: 0 -0.2rem 0 0 currentcolor;
    }

    87% {
      box-shadow: 0.2rem -0.2rem 0 0 currentcolor;
    }
  }

  @keyframes loader-rotate {
    0% {
      rotate: 0deg;
    }

    100% {
      rotate: 360deg;
    }
  }
}
